:root {
  --cac-blue-1: #29b8cc;
  --cac-blue-2: #088dda;
  --cac-blue-3: #0b67a7;
  --cac-blue-4: #014c9d;
  --cac-transparent-1: #ffffff2d;
  --cac-transparent-2: #ffffff4d;
  --cac-transparent-3: #ffffff6d;
  --color-bg-avic: #387be8;
  --color-fill-avic-1: #f0f2f5;
  --color-blue-avic: #1f76cb;
  --color-text-selected-avic: #1e89ff;
  --color-bg-selected-avic: #ebf4ff;
  --color-text-avic-1: #1d2129;
  --color-text-avic-2: #909399;
  --color-text-avic-3: #c0c4cc;
}
